In [2]:
from datasets import load_dataset
import pandas as pd
import numpy as np

In [8]:
dataset = load_dataset("HuggingFaceFW/fineweb-edu", data_files="sample/10BT/*.parquet", streaming=True, split="train")

In [9]:
dataset_head = dataset.take(10000)

In [10]:
df10k = pd.DataFrame(list(dataset_head))

In [11]:
df10k.head()

,text,id,dump,url,file_path,language,language_score,token_count,score,int_score
0,"The Independent Jane\nFor all the love, romanc...",<urn:uuid:0d8a309d-25c5-405d-a08a-c11239f0d717>,CC-MAIN-2013-20,http://austenauthors.net/the-independent-jane,s3://commoncrawl/crawl-data/CC-MAIN-2013-20/se...,en,0.974320,845,2.750000,3
1,Taking Play Seriously\nBy ROBIN MARANTZ HENIG\...,<urn:uuid:316c7af5-14e1-4d0b-9576-753e17ef2cc5>,CC-MAIN-2013-20,http://query.nytimes.com/gst/fullpage.html?res...,s3://commoncrawl/crawl-data/CC-MAIN-2013-20/se...,en,0.961459,1055,2.562500,3
2,How do you get HIV?\nHIV can be passed on when...,<urn:uuid:a3e140cd-7f25-48c9-a2f0-a7d0b1954e0d>,CC-MAIN-2013-20,http://www.childline.org.uk/Explore/SexRelatio...,s3://commoncrawl/crawl-data/CC-MAIN-2013-20/se...,en,0.966757,136,3.125000,3
3,CTComms sends on average 2 million emails mont...,<urn:uuid:c337bcd8-6aa1-4f2d-8c48-b916442ebbee>,CC-MAIN-2013-20,http://www.ctt.org/resource_centre/getting_sta...,s3://commoncrawl/crawl-data/CC-MAIN-2013-20/se...,en,0.910602,3479,3.234375,3
4,Hold the salt: UCLA engineers develop revoluti...,<urn:uuid:c0b175bb-65fb-420e-a881-a80b91d00ecd>,CC-MAIN-2013-20,http://www.environment.ucla.edu/water/news/art...,s3://commoncrawl/crawl-data/CC-MAIN-2013-20/se...,en,0.924981,1115,2.812500,3

In [12]:
import latentscope as ls

In [13]:
ls.init("~/latent-scope-data")

Initialized env with data directory at /Users/enjalot/latent-scope-data

In [14]:
ls.ingest("fineweb-edu-10k", df10k, "text")

Loading environment variables from: /Users/enjalot/code/latent-testing/notebooks/.env
DATA DIR /Users/enjalot/latent-scope-data
DIRECTORY /Users/enjalot/latent-scope-data/fineweb-edu-10k
                                                text  \
0  The Independent Jane\nFor all the love, romanc...
1  Taking Play Seriously\nBy ROBIN MARANTZ HENIG\...
2  How do you get HIV?\nHIV can be passed on when...
3  CTComms sends on average 2 million emails mont...
4  Hold the salt: UCLA engineers develop revoluti...

                                                id             dump  \
0  <urn:uuid:0d8a309d-25c5-405d-a08a-c11239f0d717>  CC-MAIN-2013-20
1  <urn:uuid:316c7af5-14e1-4d0b-9576-753e17ef2cc5>  CC-MAIN-2013-20
2  <urn:uuid:a3e140cd-7f25-48c9-a2f0-a7d0b1954e0d>  CC-MAIN-2013-20
3  <urn:uuid:c337bcd8-6aa1-4f2d-8c48-b916442ebbee>  CC-MAIN-2013-20
4  <urn:uuid:c0b175bb-65fb-420e-a881-a80b91d00ecd>  CC-MAIN-2013-20

                                                 url  \
0      http://austenauthors.net/the-independent-jane
1  http://query.nytimes.com/gst/fullpage.html?res...
2  http://www.childline.org.uk/Explore/SexRelatio...
3  http://www.ctt.org/resource_centre/getting_sta...
4  http://www.environment.ucla.edu/water/news/art...

                                           file_path language  language_score  \
0  s3://commoncrawl/crawl-data/CC-MAIN-2013-20/se...       en        0.974320
1  s3://commoncrawl/crawl-data/CC-MAIN-2013-20/se...       en        0.961459
2  s3://commoncrawl/crawl-data/CC-MAIN-2013-20/se...       en        0.966757
3  s3://commoncrawl/crawl-data/CC-MAIN-2013-20/se...       en        0.910602
4  s3://commoncrawl/crawl-data/CC-MAIN-2013-20/se...       en        0.924981

   token_count     score  int_score
0          845  2.750000          3
1         1055  2.562500          3
2          136  3.125000          3
3         3479  3.234375          3
4         1115  2.812500          3
                                                   text  \
9995  Here we have the inspiration for the movie tre...
9996  Love and Logic Resource KitLove and Logic is a...
9997  In the event of fire, people need to know exac...
9998  It may be a small comfort to those planning th...
9999  A 13-year-old middle school student is working...

                                                   id             dump  \
9995  <urn:uuid:57ae955d-687d-497f-93d4-d5314a541145>  CC-MAIN-2017-26
9996  <urn:uuid:3df9d504-e03a-4ef2-93ae-1b0fe24baa5e>  CC-MAIN-2017-26
9997  <urn:uuid:cbd2548e-361a-4de4-98e6-b5ecd485bf4f>  CC-MAIN-2017-26
9998  <urn:uuid:51ee7105-5715-47c0-a4d7-d6c1b39d3344>  CC-MAIN-2017-26
9999  <urn:uuid:5f525003-bf93-42d1-b05b-29a50aacfb63>  CC-MAIN-2017-26

                                                    url  \
9995  https://www.hamahamaoysters.com/blogs/learn/18...
9996  http://holly.rpes.schoolfusion.us/modules/cms/...
9997  http://churchsafety.org.uk/information/fire/f_...
9998  http://insideindustrynews.com/curiosity-gives-...
9999  http://juneauempire.com/stories/120505/loc_200...

                                              file_path language  \
9995  s3://commoncrawl/crawl-data/CC-MAIN-2017-26/se...       en
9996  s3://commoncrawl/crawl-data/CC-MAIN-2017-26/se...       en
9997  s3://commoncrawl/crawl-data/CC-MAIN-2017-26/se...       en
9998  s3://commoncrawl/crawl-data/CC-MAIN-2017-26/se...       en
9999  s3://commoncrawl/crawl-data/CC-MAIN-2017-26/se...       en

      language_score  token_count     score  int_score
9995        0.961133          368  2.875000          3
9996        0.895080          249  2.828125          3
9997        0.960923         1081  3.171875          3
9998        0.938971          141  2.968750          3
9999        0.981334         1131  2.859375          3
Index(['text', 'id', 'dump', 'url', 'file_path', 'language', 'language_score',
       'token_count', 'score', 'int_score'],
      dtype='object')
wrote /Users/enjalot/latent-scope-data/fineweb-edu-10k/input.parquet

In [17]:
dataset100k = dataset.remove_columns(["url", "file_path", "language_score"])
dataset_head100k = dataset100k.take(100000)

In [18]:
df100k = pd.DataFrame(list(dataset_head100k))

In [19]:
ls.ingest("fineweb-edu-100k", df100k, "text")

Loading environment variables from: /Users/enjalot/code/latent-testing/notebooks/.env
DATA DIR /Users/enjalot/latent-scope-data
DIRECTORY /Users/enjalot/latent-scope-data/fineweb-edu-100k
                                                text  \
0  The Independent Jane\nFor all the love, romanc...
1  Taking Play Seriously\nBy ROBIN MARANTZ HENIG\...
2  How do you get HIV?\nHIV can be passed on when...
3  CTComms sends on average 2 million emails mont...
4  Hold the salt: UCLA engineers develop revoluti...

                                                id             dump language  \
0  <urn:uuid:0d8a309d-25c5-405d-a08a-c11239f0d717>  CC-MAIN-2013-20       en
1  <urn:uuid:316c7af5-14e1-4d0b-9576-753e17ef2cc5>  CC-MAIN-2013-20       en
2  <urn:uuid:a3e140cd-7f25-48c9-a2f0-a7d0b1954e0d>  CC-MAIN-2013-20       en
3  <urn:uuid:c337bcd8-6aa1-4f2d-8c48-b916442ebbee>  CC-MAIN-2013-20       en
4  <urn:uuid:c0b175bb-65fb-420e-a881-a80b91d00ecd>  CC-MAIN-2013-20       en

   token_count     score  int_score
0          845  2.750000          3
1         1055  2.562500          3
2          136  3.125000          3
3         3479  3.234375          3
4         1115  2.812500          3
                                                    text  \
99995  Avoid the extreme, but beware of household can...
99996  The Gospel of Luke is the third of the four ca...
99997  It's is short for it is or it has.\nIts is the...
99998  As more and more users gain access to the web,...
99999  Equipping students to successfully navigate th...

                                                    id             dump  \
99995  <urn:uuid:f635e2ad-40e6-4a9a-96c6-c1b59402927a>  CC-MAIN-2013-20
99996  <urn:uuid:0bf72ded-4537-4e31-b3cc-994319051c63>  CC-MAIN-2013-20
99997  <urn:uuid:ea54c2d0-d764-4f02-85cc-ec551afb387f>  CC-MAIN-2013-20
99998  <urn:uuid:e3dec8b9-e20e-4e05-866c-c53542413ed4>  CC-MAIN-2013-20
99999  <urn:uuid:4a847a52-1497-4395-886e-ca1fde2ac0cd>  CC-MAIN-2013-20

      language  token_count     score  int_score
99995       en          377  2.531250          3
99996       en         1755  3.125000          3
99997       en          573  2.828125          3
99998       en          648  2.750000          3
99999       en         1053  3.578125          4
Index(['text', 'id', 'dump', 'language', 'token_count', 'score', 'int_score'], dtype='object')
wrote /Users/enjalot/latent-scope-data/fineweb-edu-100k/input.parquet

In [1]:
broken_ids = [] # can put some ids here to check

In [21]:
filtered_df100k = df100k[df100k['id'].isin(broken_ids)]

In [22]:
filtered_df100k.shape

(512, 7)

In [23]:
filtered_df100k.head()

,text,id,dump,language,token_count,score,int_score
52736,The two-button remote control is a very versat...,<urn:uuid:52418580-9004-4afd-b9d6-7c991f761b06>,CC-MAIN-2013-20,en,222,3.000000,3
52737,for National Geographic News\nA new population...,<urn:uuid:3dc4e72f-a8c2-48b9-bae3-ea8e374b4462>,CC-MAIN-2013-20,en,422,3.875000,4
52738,The right to access the various documents of t...,<urn:uuid:ebf0a847-f329-441d-a625-47eabeb0e52f>,CC-MAIN-2013-20,en,1959,3.671875,4
52739,Product Type: Open-file Report\nAuthor(s): Ell...,<urn:uuid:5cd69abe-263e-4246-b7ee-3641dc5b4c17>,CC-MAIN-2013-20,en,530,2.718750,3
52740,"BOISE, Idaho – An invasive insect commonly fou...",<urn:uuid:528c738a-fa9c-4858-8683-878e210185c4>,CC-MAIN-2013-20,en,382,2.656250,3

In [24]:
filtered_df100k["token_count"].to_list()

[222,
 422,
 1959,
 530,
 382,
 11986,
 129,
 652,
 329,
 4472,
 1046,
 453,
 212,
 473,
 1503,
 356,
 307,
 245,
 420,
 761,
 392,
 1327,
 284,
 2369,
 170,
 198,
 1128,
 592,
 488,
 267,
 1440,
 496,
 373,
 2140,
 844,
 250,
 229,
 597,
 858,
 219,
 381,
 787,
 784,
 811,
 124,
 251,
 493,
 257,
 313,
 619,
 593,
 528,
 581,
 707,
 192,
 755,
 207,
 885,
 187,
 1141,
 1089,
 975,
 630,
 306,
 767,
 353,
 143,
 774,
 465,
 870,
 9691,
 393,
 429,
 541,
 671,
 219,
 599,
 682,
 561,
 704,
 788,
 374,
 334,
 398,
 348,
 693,
 611,
 274,
 753,
 1326,
 521,
 1686,
 747,
 470,
 332,
 2011,
 727,
 23407,
 464,
 175,
 751,
 428,
 148,
 425,
 200,
 283,
 642,
 700,
 771,
 859,
 547,
 230,
 1425,
 1212,
 680,
 863,
 108,
 345,
 187,
 363,
 2336,
 3878,
 631,
 281,
 256,
 1811,
 438,
 1122,
 1205,
 3044,
 978,
 1199,
 2367,
 1791,
 832,
 608,
 774,
 456,
 275,
 569,
 1537,
 5759,
 889,
 317,
 248,
 360,
 3122,
 1723,
 429,
 920,
 747,
 271,
 851,
 2007,
 161,
 1054,
 484,
 936,
 700,
 257,
 1191,
 218,
 443,
 866,
 717,
 348,
 1402,
 467,
 2245,
 122,
 812,
 670,
 413,
 1831,
 2151,
 367,
 537,
 983,
 348,
 3545,
 887,
 184,
 204,
 980,
 227,
 798,
 408,
 374,
 243,
 1821,
 249,
 432,
 560,
 334,
 1389,
 890,
 346,
 524,
 313,
 528,
 154,
 261,
 1890,
 471,
 3951,
 461,
 595,
 320,
 676,
 1002,
 1871,
 370,
 4132,
 996,
 435,
 1010,
 308,
 288,
 484,
 368,
 405,
 378,
 514,
 895,
 232,
 110,
 374,
 433,
 788,
 403,
 1217,
 849,
 333,
 126,
 324,
 977,
 295,
 1629,
 319,
 350,
 128,
 754,
 779,
 314,
 604,
 391,
 242,
 403,
 1291,
 112,
 263,
 128,
 1620,
 543,
 800,
 973,
 552,
 244,
 628,
 418,
 428,
 412,
 809,
 240,
 940,
 747,
 6330,
 469,
 770,
 188,
 952,
 1575,
 790,
 1178,
 439,
 4270,
 834,
 527,
 206,
 683,
 541,
 257,
 191,
 390,
 267,
 316,
 1029,
 233,
 261,
 3734,
 799,
 275,
 388,
 1718,
 6228,
 188,
 367,
 648,
 1717,
 1196,
 639,
 1904,
 1107,
 1127,
 414,
 341,
 936,
 124,
 704,
 359,
 631,
 771,
 853,
 892,
 796,
 302,
 2938,
 289,
 1287,
 3105,
 3493,
 812,
 1861,
 425,
 475,
 348,
 241,
 2461,
 1359,
 755,
 741,
 205,
 145,
 380,
 1028,
 364,
 553,
 301,
 770,
 319,
 208,
 1006,
 559,
 334,
 399,
 1010,
 162,
 528,
 1272,
 348,
 1823,
 1690,
 1991,
 472,
 2442,
 461,
 1204,
 738,
 267,
 943,
 680,
 3376,
 804,
 701,
 1482,
 283,
 466,
 533,
 170,
 880,
 2902,
 980,
 434,
 1280,
 580,
 229,
 84,
 257,
 286,
 175,
 198,
 2043,
 335,
 240,
 1517,
 5200,
 539,
 1022,
 11524,
 187,
 158,
 658,
 165,
 283,
 736,
 195,
 871,
 801,
 178,
 1267,
 112,
 717,
 327,
 846,
 253,
 520,
 101,
 626,
 945,
 454,
 254,
 775,
 520,
 753,
 2658,
 2021,
 855,
 3316,
 2032,
 8629,
 762,
 3730,
 1576,
 328,
 1115,
 496,
 770,
 143,
 133,
 743,
 348,
 214,
 580,
 2310,
 204,
 312,
 815,
 417,
 843,
 329,
 3034,
 410,
 672,
 225,
 673,
 415,
 1475,
 444,
 780,
 497,
 586,
 1161,
 1608,
 752,
 600,
 1645,
 155,
 56446,
 562,
 513,
 6647,
 660,
 112,
 1539,
 1220,
 1281,
 741,
 1078,
 474,
 864,
 182,
 244,
 1278,
 1056,
 647,
 358,
 535,
 2641,
 364,
 413,
 720,
 976,
 510,
 686,
 427,
 2311,
 238,
 4432,
 277,
 356,
 665,
 311,
 886,
 1529,
 1467,
 305,
 350,
 1839,
 316,
 1613,
 229,
 198,
 1235,
 2633,
 809,
 4255,
 1864,
 606,
 497,
 793,
 1371,
 1703]

In [27]:
filtered_df100k['text_length'] = filtered_df100k['text'].apply(len)
filtered_df100k[['token_count', 'text_length']]

/var/folders/sx/rrvr6l_d5x1_g46jxlx5ypfc0000gn/T/ipykernel_76251/2136929811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df100k['text_length'] = filtered_df100k['text'].apply(len)

       token_count  text_length
52736          222          974
52737          422         1881
52738         1959        10870
52739          530         2720
52740          382         1869
...            ...          ...
53243          606         2935
53244          497         2507
53245          793         3819
53246         1371         6762
53247         1703         8438

[512 rows x 2 columns]

In [44]:
df100k['text_length'] = df100k['text'].apply(len)
sorted_df = df100k.sort_values(by='token_count', ascending=False)
sorted_df = sorted_df[sorted_df["text_length"] > 10000]

In [47]:
sorted_df.shape

(8444, 8)

In [48]:
# Filter the DataFrame to find entries where token_count is more than 8000
high_token_count_df = df100k[df100k['token_count'] > 2048]

# Find the minimum text_length from the filtered DataFrame
min_text_length = high_token_count_df['text_length'].min()

# Print the result
print("The smallest text_length where token_count is more than 8192 is:", min_text_length)

The smallest text_length where token_count is more than 8192 is: 2385

In [46]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(sorted_df[['token_count', 'text_length']].head(100))

       token_count  text_length
57385       104023       485818
8741        101566       485117
26462        83662       336015
48738        81132       302843
22545        69087       306273
59842        68874       328275
66900        64344       328697
50493        59206       272464
53193        56446       280809
25146        46862       203838
98915        46664       238568
63484        46596       217907
26363        46018       206822
20481        44657       165152
19752        43150       207965
21011        42434       190152
19932        41801       157942
75998        41636       197039
54072        41160       205458
75446        40872       173387
21587        40787       171901
61198        39787       165134
41897        38832       184465
37280        38682       179243
60438        38664       168148
52712        37943       180434
49513        36064       144425
10770        35178       161248
30875        34214       156451
21416        33794       108263
76883        33370       151322
61913        32132       145142
82674        32022       110127
25879        31153       139767
50241        30879       141398
91285        30841       126778
85932        30799       123451
67564        30505       110449
23804        30502       133703
64453        30140       122132
20491        29787       147622
98810        29474       104333
23779        29404       109206
12476        28799       118054
84791        28792       126564
16536        28782       134643
6770         28745       139452
64492        28731       151428
55693        28615       126376
96635        28603       128460
87035        28458       126872
97372        28073       128217
16966        27827       121963
54282        27622       110453
64422        27399       126250
43095        26805       127607
11223        26774       107899
938          26697       124276
72130        26616        95360
35815        26602       100388
60910        26557       130256
53729        26423       123570
21879        26392       116157
97467        26192       114295
19179        25979        94335
78544        25836       110689
86182        25721       102530
70463        25345       100019
19729        24953       115631
92956        24808       110828
75490        24776        98531
57823        24624        93310
5150         24593        86615
5065         24504       110972
64878        24310       104386
85699        24133       115965
35083        24130       119805
1122         24091        90348
41560        23898       101378
53989        23874        56790
33448        23852       115978
29779        23735       120142
54450        23715       105685
39629        23685       101014
6874         23436       110472
52833        23407        90316
14484        23357       104001
1692         23338        99255
23331        23138        89524
82384        23120        89432
69196        23083        58244
15008        22890       107912
58367        22855       105143
26207        22832        85131
78156        22807        99823
36604        22656       103464
32054        22652       107154
20075        22646       109951
9812         22574       101409
36465        22527        98342